@font-face {
  font-family: 'iconfont';  /* project id 1462390 */
  src: url('https://at.alicdn.com/t/font_1462390_me6vpzqr8qn.eot');
  src: url('https://at.alicdn.com/t/font_1462390_me6vpzqr8qn.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1462390_me6vpzqr8qn.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1462390_me6vpzqr8qn.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1462390_me6vpzqr8qn.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1462390_me6vpzqr8qn.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcircle:before {
  content: "\e618";
}

.iconcheckmark-circle:before {
  content: "\e625";
}

.iconnan:before {
  content: "\e67d";
}

.iconnv:before {
  content: "\e67e";
}

.iconquestion:before {
  content: "\e681";
}

.iconclose:before {
  content: "\e688";
}

.iconyes:before {
  content: "\e689";
}

.iconshouhuan:before {
  content: "\e68a";
}

.iconwifi:before {
  content: "\e68b";
}

.iconright:before {
  content: "\e68c";
}

.iconchange:before {
  content: "\e68d";
}

.iconmodify:before {
  content: "\e68e";
}

.icondelete:before {
  content: "\e68f";
}

.iconnoxinhao:before {
  content: "\e690";
}

.iconxinhao:before {
  content: "\e691";
}

.iconmima:before {
  content: "\e692";
}

.iconwifi1:before {
  content: "\e693";
}

.iconmima-mian:before {
  content: "\e694";
}

.icongerenxinxi:before {
  content: "\e695";
}

.iconlaba:before {
  content: "\e696";
}

.iconjiantou-xia:before {
  content: "\e697";
}

.iconjiantou-shang:before {
  content: "\e698";
}

.iconqiehuan:before {
  content: "\e699";
}

.iconriqi:before {
  content: "\e69a";
}

